version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: mplus-app
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mplus-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
